
<ion-header>
  <ion-navbar primary >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Automation</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="home"> 
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor ="let info of items" >
      
  <ion-card-content>
     <h2>{{info.title}}</h2>
        <p>{{info.author}}</p>  

  <ion-grid>
    <ion-row>      
      <ion-col>
   <button  ion-button icon-only (click)="twitterShare(info.link)" class="twitter" clear><ion-icon class="share-icon" name="logo-twitter" ></ion-icon></button>
            
</ion-col>
<ion-col>
  <button  ion-button icon-only (click)="shareViaFacebook(info.link)" class="facebook" clear><ion-icon class="share-icon" name="logo-facebook" clear></ion-icon></button>
             
</ion-col>
      <ion-col>
        <button ion-button (click)="openPage(info.link)">
  Read More
</button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
     </ion-card-content>
   </ion-card>

</ion-content>
