<ion-header>
  <ion-navbar>
    <ion-title>Sign up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form #registerForm="ngForm" (ngSubmit)="signup()">
    <ion-list>
      <ion-item-divider>Sign up using email</ion-item-divider>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="text" placeholder="required" [(ngModel)]="registerCredentials1.name" [ngModelOptions]="{standalone: true}"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" placeholder="required" [(ngModel)]="registerCredentials1.email" [ngModelOptions]="{standalone: true}"
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" placeholder="required" [(ngModel)]="registerCredentials1.pass" [ngModelOptions]="{standalone: true} "
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Repeat Password</ion-label>
        <ion-input type="password" placeholder="required" [(ngModel)]="registerCredentials1.pass1" [ngModelOptions]="{standalone: true}"
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Mobile No</ion-label>
        <ion-input type="text" placeholder="required" [(ngModel)]="registerCredentials1.num" [ngModelOptions]="{standalone: true}"
          required></ion-input>
      </ion-item>
      <br/>

      <ion-row>
        <ion-col padding>
          <button ion-button class="btn_gr" type="submit" block>Sign up</button>
        </ion-col>
      </ion-row>
      <a (click)="goBack()">
        <p class="txt_terms" text-center>Already a member? Log in</p>
      </a>

    </ion-list>


  </form>

</ion-content>
