<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
 
</ion-header>
 
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>

   <ion-card *ngFor ="let info of items" >
  <ion-card-content>
     <h2>{{info.title}}</h2>
        <p>{{info.author}}</p>  
 
  <ion-grid>
    <ion-row> 
       <ion-col>
<button ion-button icon-only item-right clear (click)="setFav(items)"  class="heart" >
        <ion-icon name="heart"></ion-icon>
    </button>
    </ion-col>     
      <ion-col>
   <button  ion-button icon-only (click)="twitterShare(info.link)" class="twitter" clear><ion-icon class="share-icon" name="logo-twitter" ></ion-icon></button>
            
</ion-col>

<ion-col>
  <button  ion-button icon-only (click)="shareViaFacebook(info.link)" class="facebook" clear><ion-icon class="share-icon" name="logo-facebook" clear></ion-icon></button>
             
</ion-col>
      <ion-col>
        <button ion-button icon-only clear (click)="openPage(info.link)">
  <ion-icon name="more"></ion-icon>
</button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
     </ion-card-content>
   </ion-card>
   
</ion-content>