


<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/1.png" class="slide-image"/>
      <h2 class="slide-title">
        Welcome to <b>Rss Reader</b>
      </h2>
      
    </ion-slide>

    <ion-slide>
      <img src="assets/img/2.png" class="slide-image"/>
      <h2 class="slide-title" >About RSS Reader?</h2>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/3.png" class="slide-image"/>
      <h2 class="slide-title">Start Using RSS Reader</h2>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/4.png" class="slide-image"/>
      <h2 class="slide-title">Let's Begin</h2>
      <button ion-button icon-right large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>