
<ion-header>
  <ion-navbar primary >
    
    <ion-title>Favorites</ion-title>
  </ion-navbar>
 
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
   <ion-card *ngFor ="let info of fav"  >
  <ion-card-content>
     <p>{{info.title}}</p>
     <p>{{info.link}}</p>
 
  <ion-grid>
    <ion-row> 
       <ion-col>
<button ion-button icon-only item-right clear (click)="delFav(index)" color="dark"  class="trash" >
        <ion-icon name="trash"></ion-icon>
    </button>
    </ion-col>     
      <ion-col>
   <button  ion-button icon-only (click)="twitterShare(info)" class="twitter" clear><ion-icon class="share-icon" name="logo-twitter" ></ion-icon></button>
            
</ion-col>

<ion-col>
  <button  ion-button icon-only (click)="shareViaFacebook(info)" class="facebook" clear><ion-icon class="share-icon" name="logo-facebook" clear></ion-icon></button>
             
</ion-col>
      <ion-col>
        <button ion-button icon-only clear (click)="openPage(info.link)">
  <ion-icon name="more"></ion-icon>
</button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
     </ion-card-content>
   </ion-card>
</ion-content>
