<ion-header>
  <ion-navbar>
    <ion-title>Login Page</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form (ngSubmit)="getLogin()" #registerForm="ngForm">
    <ion-list>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" placeholder="required" [(ngModel)]="formInput.email" [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" placeholder="required" [(ngModel)]="formInput.pass" [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item>
      <br/>
      <ion-row>
        <ion-col no-padding>
          <button ion-button class="btn_ff" type="submit" block>Login</button>
        </ion-col>
      </ion-row>
    </ion-list>
    <br>
    <ion-row text-center no-padding>
      <ion-col width-50 text-left no-padding>
        <a class="txt_ff" (click)="go2ForgotPass()"> I forgot password  </a> 
      </ion-col>
      <ion-col width-50 text-right no-padding>
        <a class="txt_ff" (click)='go2SignUp();'> Create new account </a>
      </ion-col>
    </ion-row> 
  </form>
</ion-content>
