<ion-header> 
	<ion-navbar>        
		<ion-title>Menu</ion-title> 
	</ion-navbar>  
</ion-header> 
<ion-content no-padding> 
	
	
	<ion-item-group>
		<button ion-item class="itm" (click)="tabs()">Home</button>
    		<button ion-item class="itm" (click)="apnew()">Smart Home</button> 
        <button ion-item class="itm" (click)="news()">News</button>
				        <button ion-item class="itm" (click)="fav()">Favorites page</button>

    		<button ion-item class="itm" (click)="auto()">Automation</button>
        <button ion-item class="itm" (click)="autosub()">Automation Subs</button>
    		<button ion-item class="itm" (click)="tec()">Technology</button>
        <button ion-item class="itm" (click)="esp()">ESP</button>
    		<button ion-item class="itm" (click)="espsub()">ESp Subs</button>
         <button ion-item class="itm" (click)="elec()">Electronics</button>
        <button ion-item class="itm" (click)="all()">All Articles</button>
    		<button ion-item class="itm" (click)="indtec()">Indian Tech and Startups</button>
       	<button ion-item class="itm" (click)="indauto()">Indian Automation</button>
      <button ion-item class="itm" (click)="logout()">Logout</button> 
	</ion-item-group>
</ion-content>    